<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CarMapper">

  <select id="selectAll" resultType="bean.Car">
    select * from ttsx_car
  </select>
  
    <select id="selectById" resultType="bean.car">
    select * from ttsx_car where id=#{id}
  	</select>

</mapper>